<div class="absolute right-0 drop-down-header w-2/4 sm:w-64 bg-white text-black shadow-lg rounded-lg z-50 p-2">
  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'chat'">
      <p class="text-sm font-semibold mb-2">{{ 'common.header.message' | translate }}</p>
    </div>
    <div *ngSwitchCase="'notification'">
      <p class="text-sm font-semibold mb-2">{{ 'common.header.notification' | translate }}</p>
    </div>
    <div *ngSwitchCase="'setting'">
      <p class="text-sm font-semibold mb-2">{{ 'common.header.setupUser' | translate }}</p>
    </div>
    <pre>{{ currentUser$ | async | json }}</pre>
    <div *ngSwitchCase="'setupUser'" class="w-100">
      <div class="flex gap-4 p-2 info-setup-user">
        <div class="avatar w-1/4">
          <img src="assets/image/avatar-default.webp"/>
        </div>
        <div *ngIf="currentUser$ | async as user" class="title-name w-3/4 flex items-center font-size-large">
          <b class="ms-2">{{ user.name }}</b>
        </div>
        <div *ngIf="originUser$ | async as user" class="title-name w-3/4 flex items-center font-size-large">
          <b class="ms-2">{{ user.name }}</b>
        </div>
      </div>
      <div class="pt-2 flex" *ngIf="(currentUser$ | async) === (originUser$ | async)">
        <button class="info-view-user w-4/4 w-full flex items-center text-center font-size-middle btn mx-1" (click)="switch()">
          <app-svg-icon name="user-circle" class="w-6 h-6"></app-svg-icon>
          <b class="ms-2">{{ 'common.header.switchUser' | translate }}</b>
        </button>
      </div>
      <div class="pt-2 flex" *ngIf="(currentUser$ | async) !== (originUser$ | async)">
        <button class="info-view-user w-4/4 w-full flex items-center text-center font-size-middle btn mx-1" (click)="switch()">
          <app-svg-icon name="user-circle" class="w-6 h-6"></app-svg-icon>
          <b class="ms-2">{{ 'common.header.backUser' | translate }}</b>
        </button>
      </div>
      <div class="pt-2 flex">
        <button (click)="logOut()" class="info-view-user w-4/4 w-full flex items-center text-center font-size-middle btn mx-1">
          <app-svg-icon name="arrow-turn-up-right" class="w-6 h-6"></app-svg-icon>
          <b class="ms-2">{{ 'common.header.signOut' | translate }}</b>
        </button>
      </div>
    </div>
  </ng-container>
</div>
