<div class="main-admin-roles">
  <div class="breadcrumbs">
    <app-bread-crumbs [listBreadCrumbs]="breadcrumbs">
    </app-bread-crumbs>
  </div>
  <div class="m-2 font-size-large">
    <strong>{{ 'common.core.admin.roles.manageRole' | translate }}</strong>
  </div>
  <div class="gap-4 flex mt-2">
    <div class="card bg-base-100 sm:w-full shadow-sm">
      <div class="overflow-x-auto">
        <table class="table table-tr-custom custom-table">
          <thead>
          <tr class="table-tr-custom">
            <th class="checkbox-column">
              <label>
                <input type="checkbox" class="checkbox"/>
              </label>
            </th>
            <th class="id-column">{{ 'common.core.admin.roles.id' | translate }}</th>
            <th class="name-column text-center">{{ 'common.core.admin.roles.name' | translate }}</th>
            <th class="status-column">{{ 'common.core.admin.roles.status' | translate }}</th>
            <th class="action-column"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of listRole" class="table-row">
            <th class="checkbox-column">
              <label>
                <input type="checkbox" class="checkbox check-box-all-custom"/>
              </label>
            </th>
            <td class="id-column">
              {{ role.id }}
            </td>
            <td class="name-column text-center">{{ role.name }}</td>
            <td class="status-column text-center">
              <div appStatusRolesDirective [status]="role.status"></div>
            </td>
            <td class="action-column">

              <div class="dropdown dropdown-left">
                <div tabindex="0" role="button" class="m-1">
                  <button
                    class="action-btn"
                    (click)="toggleActionDropdown(role.id, $event)"
                    type="button"
                    [class.active]="activeDropdown === role.id"
                    title="Actions">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                    </svg>
                  </button>
                </div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                  <li>
                    <div
                         class="action-dropdown-menu"
                         (click)="$event.stopPropagation()">
                      <div class="action-item edit-action" (click)="editRole(role)">
                        <app-svg-icon name="pencil-square">
                        </app-svg-icon>
                        <span>{{ 'common.core.admin.roles.edit' | translate }}</span>
                      </div>
                      <div class="action-item delete-action" (click)="deleteRole(role)">
                        <app-svg-icon name="trash"></app-svg-icon>
                        <span>{{ 'common.core.admin.roles.delete' | translate }}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <app-core-pagination
          [config]="config"
          [listItemPerPage]="listItemPerPage"
          (pageChange)="pageChange($event)"
          (itemsPerPageChange)="itemsPerPageChange($event)"
        ></app-core-pagination>
      </div>
    </div>
  </div>
</div>
