<div class="main-dashboard">
  <div class="breadcrumbs">
    <app-bread-crumbs [listBreadCrumbs]="breadcrumbs">
    </app-bread-crumbs>
  </div>
  <div class="gap-4 flex">
    <!-- name of each tab group should be unique -->
    <div class="card bg-base-100 sm:w-full shadow-sm">
      <div class="card-body">
        <div class="overflow-x-auto">
          <table class="table table-tr-custom">
            <thead>
            <tr class="table-tr-custom">
              <th>
                <label>
                  <input type="checkbox" class="checkbox"/>
                </label>
              </th>
              <th>ID</th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of listRole">
              <th>
                <label>
                  <input type="checkbox" class="checkbox check-box-all-custom"/>
                </label>
              </th>

              <td>
                {{ role.id }}
              </td>
              <td>{{ role.name }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
