<h2 class="text-2xl font-bold text-center mb-6">{{ 'common.login' | translate }}</h2>

<form [formGroup]="myForm">
  <!-- Email -->
  <div class="form-control mb-3">
    <input type="text" formControlName="username" placeholder="{{ 'common.email' | translate }}" class="input input-bordered w-full" />
  </div>
  <div *ngIf="username?.touched && username?.invalid" class="error mb-2">
    <small *ngIf="username?.errors?.['required']">Username is required</small>
    <small *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters</small>
  </div>
  <!-- Mật khẩu -->
  <div class="form-control mb-3">
    <input type="password" formControlName="password" placeholder="{{ 'common.password' | translate }}" class="input input-bordered w-full" />
  </div>
  <div *ngIf="password?.touched && password?.invalid" class="error mb-2">
    <small *ngIf="password?.errors?.['required']">Password is required</small>
  </div>
  <!-- Nút đăng nhập -->
  <button type="submit" (click)="login()" [disabled]="myForm.invalid" class="btn btn-primary w-full mt-2">{{ 'common.login' | translate }}</button>

  <!-- Quên mật khẩu -->
  <div class="text-center mt-4">
    <a href="#" class="link link-hover text-sm">{{ 'common.forgotPassword' | translate }}?</a>
  </div>
</form>
