<div class="navbar bg-base-100 shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">{{ 'common.title' | translate}}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 hidden md:flex">
      <li><a><app-svg-icon name="home" class="font-size-small" type="solid"></app-svg-icon>Home</a></li>
      <li><a><app-svg-icon name="user" class="font-size-small" type="outline"></app-svg-icon>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>
</div>
<app-svg-icon name="home" class="font-size-small" type="solid"></app-svg-icon>