<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content">
    <!-- Page content here -->
    <app-header></app-header>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full sm:w-80 w-2/4 p-4">
      <!-- Sidebar content here -->
      <li>
        <div class="flex gap-4 p-2 info-setup-user height-80" (click)="redirect('core/dashboard')">
          <div class="avatar w-1/4">
            <img src="assets/image/avatar-default.webp"/>
          </div>
          <div class="title-name w-3/4 flex items-center font-size-large" *ngIf="currentUser$ | async as user">
            <b class="ms-2">{{ user.name }}</b>
          </div>
        </div>
      </li>
      <li class="" (click)="redirect('core/dashboard')">
        <div tabindex="0" role="button" class="btn m-1 w-full" [routerLink]="['/core/dashboard']" routerLinkActive="active">
          <app-svg-icon name="home" class="w-6 h-6"></app-svg-icon>
          <b class="font-size-middle">{{ 'common.sideBar.home' | translate }}</b>
        </div>
      </li>
      <li class="dropdown sm:dropdown-right dropdown-bottom">
        <div tabindex="0" role="button" class="btn m-1 w-full">
          <app-svg-icon name="calendar" class="w-6 h-6"></app-svg-icon>
          <b class="font-size-middle">{{ 'common.sideBar.booking' | translate }}</b>
          ➡️
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 sm:w-full w-52 p-2 shadow-sm">
          <li (click)="redirect('core/booking-location')">
            <div class="flex gap-4"  [routerLink]="['/core/booking-location']" routerLinkActive="active">
              <div class="w-1/4">
                <app-svg-icon name="calendar-date-range" class="w-6 h-6"></app-svg-icon>
              </div>
              <div class="w-3/4">
                <b class="font-size-middle w-3/4">{{ 'common.sideBar.bookingLocation' | translate }}</b>
              </div>
            </div>
          </li>
          <li (click)="redirect('core/my-booking')">
            <div class="flex gap-4" [routerLink]="['/core/my-booking']" routerLinkActive="active">
              <div class="w-1/4">
                <app-svg-icon name="calendar-days" class="w-6 h-6"></app-svg-icon>
              </div>
              <div class="w-3/4">
                <b class="font-size-middle w-3/4">{{ 'common.sideBar.myBooking' | translate }}</b>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <ng-container *ngIf="(currentUser$ | async)?.role?.id == globalConfig.roles.admin">
        <li class="" (click)="redirect('core/dashboard')">
          <strong>Admin</strong>
        </li>
        <li class="" (click)="redirect('core/admin/roles')">
          <div tabindex="0" role="button" class="btn m-1 w-full"  [routerLink]="['/core/admin/roles']" routerLinkActive="active">
            <app-svg-icon name="rectangle-group" class="w-6 h-6"></app-svg-icon>
            <b class="font-size-middle">{{ 'common.sideBar.roles' | translate }}</b>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
